:root {
    --navy-backdrop: rgb(16, 16, 167);
    --grey-lettering: grey;
}


header {
    color: var(--grey-lettering);
    background-color: rgb(16, 16, 167);
    text-align: center;
    font-family: helvetica;
    height: 20%;
    font-weight: 700;
}

.intro {
    display: flex;
}
nav {
    display: flex;
}

.intro ul{
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Paterson {
    width: 75%;
}

.About-Me {
    border-style: dotted;
}

.projects {
    border-style: dotted;
    display: flex;  
    flex-flow: row wrap;
}

.project-card {
    flex: 1 0 25%;
    height: 100px;
    overflow: hidden;
}

.project-card img {
    width: 100%;
}

#horiseon {
    flex: 4 0 100%;
    height: 400px;
}

#contact-me ul {
    display: flex;
    justify-content: space-between;
}