:root {
    --navy-backdrop: rgb(16, 16, 167);
    --grey-lettering: grey;
}


header {
    color: var(--grey-lettering);
    background-color: rgb(16, 16, 167);
    text-align: center;
    font-family: helvetica;
    height: 20%;
    font-weight: 700;
}

.intro {
    display: flex;
}
nav {
    display: flex;
}

.intro ul{
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Paterson {
    width: 75%;
}

#About-Me {
    border-style: dotted;
}

#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-card {
    flex: 1 0 100%;
    flex-direction: column;
}

#horiseon img, .small-card img {
    width: 100%;
}

.small-card {
    flex: 1 0 100%;
}


#contact-me ul {
    display: flex;
    justify-content: space-between;
}
 
footer { 
    display: flex;
} 

 @media screen and (min-width: 750px) {
    #contact-me ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #projects {
        flex-flow: row wrap;
    }

    .small-card {
        flex: 1 0 50%;
        height: 290px;
        overflow: hidden;
    }
}  